<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search Client By Name</title>
<link href="css/Style.css" rel="stylesheet" />
</head>
<body>
	<div class="outer">
		<div class="container">
			<h2 class="title">
				Search Client By Name: <input type="text" name="clientName"
					class="subinput">
			</h2>
			<div class="main">
				<form action="" name="roleform" class="subform">
					<table class="main_table">
						<tbody>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Address</th>
								<th>Email</th>
								<th>Domain</th>
								<th>Description</th>
								<th>Revenue</th>
								<th>Employees</th>
								<th>Presence</th>
								<th>CEO</th>
								<th>CTO</th>
								<th>Contact</th>
								<th>Offices</th>
								<th>Status</th>
								<th>Operations</th>
							</tr>
							<tr>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td><a href="#">Edit</a> <a href="#">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</form>
				<a href="#">Back to Admin</a>
			</div>
		</div>
	</div>
</body>
</html>