<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search User By Name</title>
<link href="css/Style.css" rel="stylesheet" />
</head>
<body>
	<div class="outer">
		<div class="container">
			<h2 class="title">
				Search Client By Name: <input type="text" name="userName"
					class="subinput">
			</h2>
			<div class="main">
				<form action="" name="roleform" class="subform">
					<table class="main_table">
						<tbody>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Email</th>
								<th>Gender</th>
								<th>Operations</th>
							</tr>
							<!-- for loop begin -->
							<tr>
								<td><input type="checkbox"
									name="${uid should be passed here}"></td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td><a href="#">Edit</a> <a href="#">Delete</a></td>
							</tr>
							<!-- for loop End -->
						</tbody>
					</table>
				</form>
				<a href="#">Back to Admin</a>
			</div>
		</div>
	</div>
</body>
</html>