<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search Group By Name</title>
<link href="css/Style.css" rel="stylesheet" />
</head>
<body>

			<form action="searchgroupbyname" name="nameofgroup">
				Search Group By Name: <input type="text" name="groupName"
					class="subinput">
				</form>
			<div class="main">
				<form action="" name="roleform" class="subform">
					<table class="main_table">
						<tbody>
							<tr>
								<th>Group ID</th>
								<th>Group Name</th>
								<th>Description</th>
								<th>Status</th>
								<th>Operations</th>
							</tr>
							<tr>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td>---</td>
								<td><a href="#">Edit</a> <a href="#">Delete</a> <a href="#">Add
										members to Group</a></td>
							</tr>
						</tbody>
					</table>
				</form>
				<a href="#">Back to Admin</a>
			</div>
		</div>
	</div>
</body>
</html>